
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>
        Please <a href="/Login/Login" style="color: blue; text-decoration: underline;">Login</a> to see the view.
    </h1>

</head>
<body>
</body>
</html>
